<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <%- include('includes/meta') %>
</head>
<body>
<%- include('includes/nav') %>
<div class="banner banner02"></div>
<div class="warp cl">
    <div class="list-warp">
        <div class="message-con">
        <div class="message-t"><i class="iconfont">&#xe62f;</i><span>关于本站</span></div>
        <div class="message-c">
            <p>
                　　Just for fun and make some notes for the front end development.
            </p>
            <p>
                　　Include some course notes and official document references.
            </p>
            <p>
                　　This website is built by node.js + express + mongodb.
            </p>
            <p>
                　　The website is  will be update regularly.
            </p>
            <p>
                　　
            </p>
        </div>
       <!-- <div class="message-d"><a href="https://github.com/webskys/myblog" target="_blank"><i class="iconfont">&#xe605;</i><i>本站源码</i></a></div> -->

        <div class="message-t"><i class="iconfont">&#xe61d;</i><span>Comment</span></div>
                <div class="msg-item cl">
                    <input name="name" id="msg-name" type="text" class="msg-input fl" placeholder="请输入姓名..." style="width: 40%">
                    <input name="email" id="msg-email" type="email" class="msg-input fl" placeholder="请输入邮箱..." style="width: 40%; margin-left: 10%">
                </div>
            <div class="msg-item">
                <textarea name="comments" id="comments" class="msg-input msg-textarea" rows="3" onresize="false" placeholder="Please input the comment..."></textarea>
            </div>
            <div class="msg-item">
                <button type="button" id="submit-msg" class="submit-msg">submit</button>
            </div>
        </div>
    </div>
</div>
<%- include('includes/footer') %>
<script type="text/javascript">
    $("#submit-msg").click(function () {
        var emailReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$/;
        var name = $("#msg-name").val();
        var email = $("#msg-email").val();
        var comment = $("#comments").val();

        var editError = '';
        if (name === '') {
            editError = 'The name cannot be empty!';
        } else if (email === '') {
            editError = 'The email canont be empty!';
        } else if (comment === '') {
            editError = 'The comment cannot be empty!';
        }else if(!emailReg.test(email)){
            editError = 'The email format is not correct!';
        }
        if (editError !== '') {
            $('body').LiMask({content:editError});
            return
        }
        $.showLoading();
        var postData = {
            name: name,
            email: email,
            comment: comment
        }
        $.ajax({
            cache: false,
            url: '/message',
            type: 'post',
            data: postData,
            dataType: 'json'
        }).then(function (result) {
            $('body').LiMask({content:result.message});
            $("#msg-name").add("#msg-email").add("#comments").val('');
        }).catch(function () {
            $('body').LiMask({content:'Server error, please try it later!'});
        }).always(function () {
            $.closeLoading();
        })
    })
</script>
</body>
</html>