<div class="footerwarp">
    <div class="bottomcon">
        <span>© 2019</span><span>Email：frankxiao008@gmail.com</span><span><a href="https://github.com/frankxiao008/" target="_blank">GitHub</a></span>
    </div>
</div>
<script type="text/javascript">
    var pageSign = '<%= pageSign %>';
</script>
<script type="text/javascript" src="/script/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/script/prism.js"></script>
<script type="text/javascript" src="/pc/js/base.js"></script>
